<% provide(:title,"Sign in") %>
<h1 algin="center">Sign in</h1>
<div class="authentication-div span6 offset3" >		
	<%= form_for(:session,url: sessions_path) do |f| %>		
	<div id="error_explanation">
	  	<% flash.each do |name, msg| -%>
      		<%= content_tag :div, msg, class: name %>
    	<% end -%>
    </div>
		<%= f.label :email %>		
		<%= f.text_field :email, :class => 'form-control sign-in-out-form' %>			

		<%= f.label :password %>
		<%= f.password_field :password, :class => 'form-control sign-in-out-form' %>
		
		<%= f.submit "Sign in", class: "btn btn-large btn-primary btn-sign-in-out" %>
	<% end %>
</div>
