
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700&subset=latin,english' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>

<%  provide(:title,"Contact") %>

<div id="contact">  

    <div id="col-1" class="col">
      <div id="z1" class="contact-zone">
        <div style="padding: 10px, 0">
          <div id="email-logo"><%= image_tag "email_logo.png" %></div>
          <h2 id="z1-text">CONTACT</h2>
        </div>
      </div>

      <div id="z2" class="contact-zone" style="padding: 10px;">
        <h5>If you have any ideas or concern about our project, feel free to contact us:</h5>
      </div>

      <div id="z3" class="contact-zone">
        <div id="form" class="contact-form">
          <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
            <%= f.input :name, :required => true %>
            <%= f.input :email, :required => true %>
            <%= f.input :message, :as => :text, :required => true %>
            <div class= "hidden">
              <%= f.input :nickname, :hint => 'Leave this field blank!' %>
            </div>
            <div>
              </br>
              <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>  
    </div>

    <div id="col-2" class="col">
      <div id="z4" class="contact-zone">
        <h1>04-1214.653.275</h1>
        <h3 style="margin-top: 10px">thongnt_57@vnu.edu.vn</h3>
      </div>
      
      <div id="z5" class="contact-zone noborder">
        <div id="map2">
          <div id="map-canvas2" class="nopad" ></div>
          &nbsp;
          <div id="warnings_panel" ></div>
          <script type="text/javascript">  
            initialize2();
          </script>
        </div>  
        <h4><b>K57CA - Information Technology Faculty - Vietnam National University, Hanoi - University of Engineering and Technology</b></h4>
        <h5>Address: 124 Xuan Thuy, Dich Vong Hau, Cau Giay, Hanoi</h5>
      </div>
    </div>
</div>
  
