<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Hanoi Easy Traffic" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Hanoi Easy Traffic" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDF8iBU12PVuIu03Xfp55ebFVehhNj_YAY&sensor=false&libraries=places"></script>
  </head>
  <body>
  <%= render 'layouts/header' %>   
  <div class="container custom-container">
    <%= yield %>    
  </div>
  </div>  
    <script type="text/javascript">
      var hgt = $('.container-fluid').height();
    </script>
  </div>
  <%= debug(params) if Rails.env.development? %>
  <%= render 'layouts/footer' %>  
</body>
</html>
