<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Hanoi Easy Traffic" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Hanoi Easy Traffic" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDF8iBU12PVuIu03Xfp55ebFVehhNj_YAY&sensor=false&libraries=places"></script>
  </head>
  <body>
    <!-- Search Bar -->
    <div id="gc-googlebar">
      <%= link_to(image_tag("logo.png"),  "/",  id: "gc-logo") %>

      <form class="gc-search form-inline" role="search">
        <div class="form-group custom-searchbox" style="border-radius:0px;">
          <label class="sr-only" for="exampleInputEmail2">Email address</label>
          <input id="pac-input" type="text" class="form-control custom-form" placeholder='Search' autocomplete="on" />
        </div>
        <button type="submit" class="btn btn-primary" style="width: 60px;">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </form>
    </div>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse custom-navbar" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="/welcome/about">About</a>
            </li>
            <li>
              <a href="#">Portfolio</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid" style="background-color: #f5f5f5;">
      <div class="row">
        <!-- Sidebar -->
        <div id="sidebar" class="col-md-3 panel-group sidebar">
          <div class="panel-group" id="accordion">
            <!-- Title -->
            <div class="panel panel-default option-style">
              <a data-toggle="collapse" data-parent="#accordion" href="#feature1">
              <div class="panel-heading">
                <h4 class="panel-title"> Feature 1 </h4>
              </div> </a>
              <!-- Body -->
              <div id="feature1" class="panel-collapse collapse">
                <div class="panel-body">
                  In developing!
                </div>
              </div>
            </div>
            <div class="panel panel-default option-style">
              <a data-toggle="collapse" data-parent="#accordion" href="#feature2">
              <div class="panel-heading">
                <h4 class="panel-title"> Feature 2 </h4>
              </div> </a>
              <div id="feature2" class="panel-collapse collapse">
                <div class="panel-body">
                  In developing!
                </div>
              </div>
            </div>
            <div class="panel panel-default option-style">
              <a data-toggle="collapse" data-parent="#accordion" href="#feature3">
              <div class="panel-heading">
                <h4 class="panel-title"> Feature 3 </h4>
              </div> </a>
              <div id="feature3" class="panel-collapse collapse">
                <div class="panel-body">
                  In developing!
                </div>
              </div>
            </div>
            <div class="panel panel-default option-style">
              <a data-toggle="collapse" data-parent="#accordion" href="#feature4">
              <div class="panel-heading">
                <h4 class="panel-title"> Feature 4 </h4>
              </div> </a>
              <div id="feature4" class="panel-collapse collapse">
                <div class="panel-body">
                  In developing!
                </div>
              </div>
            </div>
            <div class="panel panel-default option-style">
              <a data-toggle="collapse" data-parent="#accordion" href="#feature5">
              <div class="panel-heading">
                <h4 class="panel-title"> Feature 5 </h4>
              </div> </a>
              <div id="feature5" class="panel-collapse collapse">
                <div class="panel-body">
                  In developing!
                </div>
              </div>
            </div>
            <div class="panel panel-default option-style">
              <a data-toggle="collapse" data-parent="#accordion" href="#feature6">
              <div class="panel-heading">
                <h4 class="panel-title"> Feature 6 </h4>
              </div> </a>
              <div id="feature6" class="panel-collapse collapse">
                <div class="panel-body">
                  In developing!
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="map" class="col-md-9 nopad">
          <%= yield %>
          <div id="over-map">
            <a id="toggleSidebar" class="toggles"><i class="glyphicon glyphicon-chevron-left"></i></a>
          </div>
        </div>
      </div>
      <script type="text/javascript">
		var hgt = $('.container-fluid').height();
      </script>
    </div>

  </body>
</html>
